<ul>
  {{#each model as |newsitem|}}
    <li>{{newsitem.headline}}</li>
    <button {{action 'destroyNewsItem' newsitem}}>Delete</button>
    {{update-newsitem newsitem=newsitem update="update"}}
  {{/each}}
</ul>


{{new-newsitem save2="save3"}}
