<nav>
  <h2>BUSTLE</h2>
  <ul>
    <li>News</li>
    <li>Entertainment</li>
    <li>Fashion &amp; Beauty</li>
    <li>Lifestyle</li>
    <li>Books</li>
    <li>Explore</li>
    <li>About</li>
    <li><img src="img/social.png" alt="social media logos" /></li>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
  </ul>
</nav>
<div class="wrapper">
  {{outlet}}
</div>
